{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-light" style='height: 80px'>
    <div class="container-fluid">
    <a class="navbar-brand fs-1" href="{% url 'eithers:detail' either.pk %}">Either Game</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-4 text-danger" href="{% url 'eithers:detail' random_num %}">Random Question</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active fs-5 mx-4" href="{% url 'eithers:index' %}">BACK</a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<h1 class="d-flex justify-content-center my-5">{{ either.title }}</h1>
<div class="d-flex justify-content-around">
    <h3 class="text-primary">{{ either.issue_a }}</h3>
    <h3 class="text-danger">{{ either.issue_b }}</h3>
</div>
<div class="progress mx-5" style="height: 60px">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Segment one" style="width: {{ blue_ratio }}%" aria-valuenow="{{ blue_ratio }}" aria-valuemin="0" aria-valuemax="100">{{ blue_ratio }}%</div>
    <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-label="Segment two" style="width: {{ red_ratio }}%" aria-valuenow="{{ red_ratio }}" aria-valuemin="0" aria-valuemax="100">{{ red_ratio }}%</div>
  </div>
<hr>
<h3 class='d-flex justify-content-center'>댓글 작성</h3>
<form action="{% url 'eithers:comment_create' either.pk %}" method='POST' class='d-flex justify-content-center align-items-center'>
    {% csrf_token %}
    <div class='mx-3'>
        Pick
        <br>
        {{ comment_form.pick }}
    </div>
    <div class='mx-3'>
        content
        <br>
        {{ comment_form.content }}
    </div>
    <div class='mx-5 mt-3'>
    <input type="submit" value='작성'>
    </div>
</form>
<hr>
<h3 class='mx-5 my-3'>댓글 목록</h3>
{% for comment in comments %}
    {% if comment.pick == 'RED' %}
        <div class='list-group bg-danger bg-opacity-25 d-flex justify-content-center my-2 mx-5 px-4' style="height: 50px">
    {% else %}
        <div class='list-group bg-primary bg-opacity-25 d-flex justify-content-center my-2 mx-5 px-4' style="height: 50px">
    {% endif %}
        {{ comment.content }}
        </div>
{% endfor %}
{% endblock content %}