{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-light" style='height: 80px'>
        <div class="container-fluid">
        <a class="navbar-brand fs-1" href="{% url 'eithers:index' %}">Either Game</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active fs-4 mx-3 text-primary" href="{% url 'eithers:create' %}">New Question</a>
                {% comment %} <button class="btn nav-link active" type='button' onclick="location.href = 'create'; ">New Question</button> {% endcomment %}
            </li>
            <li class="nav-item">
                <a class="nav-link active fs-4 text-danger" href="{% url 'eithers:detail' random_num %}">Random Question</a>
                {% comment %} <button class="btn nav-link active" type='button' onclick="location.href = '{{ random_num }}'; ">Random Question</button> {% endcomment %}
            </li>
            </ul>
        </div>
        </div>
    </nav>

    {% comment %} <h1>Either Game</h1>
    <button type='button' onclick="location.href = 'create'; ">New Question</button>
    <button type='button' onclick="location.href = '{{ random_num }}'; ">Random Question</button>
    <hr> {% endcomment %}
    <h2 class='d-flex justify-content-center my-3'>Game List</h2>
    {% for either in eithers %}
        {% comment %} <h3>{{ either.title }}</h3> {% endcomment %}
        <div class="list-group mx-5">
            <a href="{% url 'eithers:detail' either.pk %}" class="list-group-item list-group-item-action d-flex align-items-center my-2 fs-4" style='height: 70px'>
              {{ either.title }}
            </a>
          </div>
        {% comment %} <button type='button' onclick="location.href = '{{ either.pk }}'; ">play</button> {% endcomment %}
    {% endfor %}
{% endblock content %}